################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnProject/LearnProject/obj/Debug/net8.0
/LearnProject/LearnProject/obj
